<!--<p>proyectos works!</p>-->
<div class="row" id="proyectos">
    <h2>proyectos realizados</h2>
    <div class="container">
        <div class="card-group">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Proyecto</h4>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <img src="../../../assets/img/adrien-olichon-RCAhiGJsUUE-unsplash.jpg" alt="" class="img-fluid img-proyecto">
              </div>
            </div>
            
        </div>
          
    </div>
</div>
