<!--<p>acercade works!</p>-->


<section id="acerca_de">
    <div class="container">
        
       

        <div class="row"> 

            <div class="col-xs-12 col-sm-2 col-md-2 collg-2">
             
                <img class="img-thumbnail" src="../../../assets/img/indice.jpg" id="foto-perfil">
                        
            </div>

            <div class="acerca_de_row_informacion col-xs-12 col-sm-2 col-md-2 col-lg-2">
                <div class="" id="acerca_de_row_informacion">
                    <p class="large">Raúl Bernal</p>
                    <p>Full stack developer Jr</p>
                </div>
            </div>

            <div class="acerca_de_row_resumen col-xs-12 col-sm-8 col-md-8 col-lg-8">
              
                <div class="" id="acerca_de_row_resumen">
                    <h2 id="titulo">acerca de mi</h2>
                    <p id="tex-acercade">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ratione maxime porro voluptate laboriosam iste, blanditiis impedit, nam nisi illum aliquam quasi! Eaque sunt consequuntur quisquam vel quo totam reiciendis.</p>
                </div>

                
                

            </div>




        
        
        </div>
    </div>
</section>