.row {
    padding: 20px;
    
}

div {
    background-color:rgb(176, 180, 245);
    text-align: center;
    margin: 0%;
    }

ul {
    list-style: none;
}

img {
    height: 25px;
 }

 #educacion {
    padding-top: 20px;
 }