body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f0eae5;
 }

/h1 {
   font-size:1.5rem;
   text-align: center; 
}

h2 {
   font-size: 1.8rem;
   text-align: center;
   text-transform: uppercase;
}

p {
   font-size: 1rem;
   margin: 10px;
   line-height: 1.7em;
}



.container {
   margin: auto;
   padding: auto;
}

/*navbar*/
#navbar {
   overflow: auto;
   padding-top: 10px;
   padding-bottom: 20px;

#navbar h1 {
   float:cenet;
}

}

#navbar .logo {
   float: left;
   padding-top: 20px;

}

#navbar ul {
   list-style: none;
   float: right;
}

#navbar ul li {
   float: left;

}

#navbar ul a {
   padding: 20px;
   text-align: center;
}


 .grid-layout {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    
 }

 .caja {
    
    /height: 150px;
    border: 1px solid black;
    background: lightgray;
    /margin: 15px;

 }

 .c3 {
    
 }

 .c4 {
    grid-column: 1/4;

 }

 .c5 {
    grid-column: 1/4;

 }