body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: #f0eae5;
 }

/h1 {
   font-size:1.5rem;
   text-align: center; 
}

h2 {
   font-size: 1.8rem;
   text-align: center;
   text-transform: uppercase;
   /*padding-top: 20px;*/
   
   margin-bottom: 0px;
}


h4 {
   font-size: 1.3rem;
   text-transform: uppercase;
}

p {
   font-size: 1rem;
   margin: 10px;
   line-height: 1.7em;
}

.container {
   margin: auto;
   /*padding: 0 20px;*/
   /*max-width: 1200px;*/
   max-width: 98%;
   overflow: auto;
   border: solid 1px;
   border-radius: 20px;
   padding: 0px;

      
}

.large {
   font-size: 20px;

}

.table-borderless {
   margin-top: 25px;
}

/*Boton de edición*/
.btn-edit {
   background-image:url('/img/pen_edit_modify_icon_149414.png');
   background-repeat: no-repeat;
   height: 25px;
   width: 25px;

   background-size: 25px 25px;
   background-position: center;
   /*background-size: cover;*/
   margin-left: 20px;
   margin-top: 5px;
   
   
  
}













/*.btn-right {
background-image: url('/img/indice.jpg');
background-repeat: no-repeat;
background-position: center;
width: 25px; height: 25px;
background-size: cover;

}*/



/*navbar*/

#navbar {
   overflow: auto;
   /*padding-top: 5px;
   padding-bottom: 5px;*/
   align-items: flex-end;
}

/*#navbar h1 {
   text-align: center;
   
}*/


#navbar .logo {
   float: left;
   padding-left: 25px;
      
}



#navbar ul {
   list-style: none;
   float: right;
   padding-right: 25px;
   
   
   
}


#navbar ul li {
   float: left;
 
}

#navbar ul li a {
   display: block;
   padding: 10px;
}

#navbar ul li img {
   width: 40px;
 }

 #navbar button {
   margin: 5px;
   padding: 5px;
 }

 #fondo-banner {
   background: url('/img/Fondo-perfil.png');
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
 }







/*Acerca de */


#acerca_de {
   background-color:blanchedalmond;
   text-align: center;
   margin: 0%;
   
}

/*Nombre de perfl*/
.nombre {
   font-weight: bold;
   margin-top: 60%;
}

/*Foto de perfil: cambios en la posición y de tamaño
segun el tamaño de pantalla*/

@media (min-width: 576px) {
   #foto-perfil {
       position: absolute;
       width: 15%;
       border-radius: 5%;
       border-style: solid;
       border-color: rgb(255, 255, 255);
       left: 25px;
       top: 325px;
       

   }

}

@media (max-width: 575px) {
   #foto-perfil {
       position: absolute;
       width: 40%;
       border-radius: 5%;
       border-style: solid;
       border-color: rgb(255, 255, 255);
       top: 300px;
       left: 31%;
     
   }
   /*corregir posición de nombre*/        
   .nombre {
       margin-top: 45%;
   }

}




/*Experiencia*/
#experiencia {
   padding-top: 10px;
}

#experiencia .container {
   background-color: rgba(255, 0, 242, 0.363);
   bac
}

.experiencia_row {
   display: flex;


}

.experiencia-row-fotos .ex-logo {
   display:block;
   /*padding: 10px;*/
   height: 25px;
   

   padding-left: 5px;
   margin-top: 20px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;

}







.experiencia-row-lista {
   text-align: left;
   padding-left: 0px;
}

.experiencia-row-lista h4 {
   margin-bottom:0%;
}
.experiencia-row-lista p {
   margin-top: 0%;
}

.experiencia-row-fotos, .experiencia-row-lista {
   width: 50%;
}

/*Educación*/
#educacion {
   padding-top: 10px;
}

#educacion .container {
   background-color: beige;
}






/*Contacto*/
#contacto {
   padding-top: 10px;
   }

#contacto .container {
   background-color: aqua;
}