<p>acercade works!</p>


<section id="acerca_de">
    <div class="container">
        
        <section id="perfil-img">    
            <div class="conteiner">
                <!--<img src="img/adrien-olichon-RCAhiGJsUUE-unsplash.jpg">-->
                
                <img class="img-thumbnail" src="../assets/img/indice.jpg" >
                <a href="#"><!--<img id="btn-edit" src="img/pen_edit_modify_icon_149414.png" alt="edit">--></a>
                     
                
                
            </div>
            

                     
        </section>

        <!--<script>

            function cambiar_parrafo(){
                document.getElementById("edit-acercade").style.display="block";
                let texto = document.getElementById("text-acercade").innerText;
                console.log(texto);
            };
            function myFuncion2(valor){
                document.getElementById("tex-acercade").innerText = valor;

            };

            let textarea-document.getElementById("edit-acercade")
            textarea.addEventListener('keyup', (e) => {
                logMessage('key "$(e.key)"released [event: keyup]');
                if (e.key=="Enter") {
                    document.getElementById("edit-acercade").style.display="none"
                }
                });
        </script>-->

        
        <div class="acerca_de_row"> 

            <div class="acerca_de_row_informacion">
                <!--<h2 class="acerca">Portfolio personal</h2>-->
                <p class="large">Raúl Bernal</p>
                <p>Desarrollador full stack developer Jr</p>
            </div>

            <div class="acerca_de_row_resumen">
              
                <table class="table table-borderless">
                    
                    <tbody>
                      <tr>
                        
                        <td><h2 id="titulo">acerca de mi</h2>   </td>
                        <td><div class="btn-edit"><a href="https://www.google.com/" class="btn-right"><i class="fa fa-pen"></i></a></div></td>
                      </tr>
                      
                    </tbody>
                  </table>

                                        
                <div>
                <p id="tex-acercade">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut ratione maxime porro voluptate laboriosam iste, blanditiis impedit, nam nisi illum aliquam quasi! Eaque sunt consequuntur quisquam vel quo totam reiciendis.</p>
                </div>

                <div>
                    <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
                </div>
                

            </div>
            
        </div>
    </div>
    </section>
