<!--<p>footer works!</p>-->
<div>
    <footer>
        <div class="row" id="proyectos">
            <div class="container">
                <div class="card-group">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Redes Sociales</h6>
                            <ul>
                                <li>
                                    <img src="" alt="">
                                </li>
                            </ul>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Información Contacto</h6>
                        
                      </div>
                    </div>
                    
                </div>
                  
            </div>
        </div>
    </footer>
</div>