<!--<p>footer works!</p>-->
<div class="row" id="footer">
    <footer>
        <div class="row" id="proyectos">
            <div class="container">
                <div class="card-group">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Redes Sociales</h6>
                            <ul>
                                <li>
                                    <a href=""><img src="../../../assets/img/Facebook-icon-circular.png" alt="facebook_icon"><span class="redes">Facebook</span></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/raul.south/"><img src="../../../assets/img/Instagram-icon-circular.png" alt="instragram_icon"><span class="redes">Instagram</span></a>
                                </li>
                            </ul>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">Información Contacto</h6>
                            <ul class="info-contact">
                                <li>
                                    <a href="https://goo.gl/maps/Dvmx8tMafCr9D67dA"><img src="../../../assets/img/direction_icon.png" alt="direction_icon"><span class="contact">
                                        Concordia<br>Argentina<br>Concejal Veiga 2124

                                         </span></a>
                                </li>
                                <li>
                                    <img src="../../../assets/img/cellphone_icon.png" alt="tel_icon"><span class="contact">+54 345 4044361</span>
                                </li>
                                <li>
                                    <img src="../../../assets/img/mail_icon.png" alt="email_icon"><span class="contact">raulsouth@gmail.com</span>
                                </li>
                            </ul>
                        
                      </div>
                    </div>
                    
                </div>
                  
            </div>
        </div>
    </footer>
</div>