div {
background-color:gray;
overflow: auto;
}

.navbar-brand {
    padding: 0%;
}

.logo-red {
    width: 50px;
    padding: 5px; 
}

.navbar {
    padding: 0%;
}

.link {
    padding-right: 10px;
}

/*Banner: propiedades del fondo*/
#fondo-banner {

    background-image: url('../../../assets/img/Fondo-perfil.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}