div {
/*background-color:gray;*/
overflow: auto;
}

.container-fluid {
    background-color:gray;/*para que el Modal no se
    afecte por el color de fondo*/
}

.navbar-brand {
    padding: 0%;
}

.logo-red {
    width: 50px;
    padding: 5px;
}

.navbar {
    padding: 0%;
}

.link {
    padding-right: 10px;
}

/*Banner: propiedades del fondo*/
#fondo-banner {

    background-image: url('../../../assets/img/Fondo-perfil.png');
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*Botón Ingresar*/
.btn-outline-secondary {
    --bs-btn-color: #e9ecef;
    --bs-btn-border-color: #e9ecef;
}

/*Propiedades de link red*/
.logo-red:hover {
    opacity: .4;
    border: solid 1px;
    border-radius: 100%;
    border-color: #ffffffa6;
}

