<!--<p>header works!</p>-->
<nav class="navbar navbar-expand-lg bg-body-tertiary" id="hola">
  
    <div class="container-fluid">
        
        <a class="navbar-brand" href="#">
            <img src="../../../assets/img/Argentina_programa_logo.png" alt="Argentina Programa">
        </a>
        <div class="link">  
        <a href="https://www.facebook.com/raul.bernal.10004/" target="_blank"><img class="logo-red" src="../../../assets/img/Facebook-icon-circular.png" alt="facebook de Raúl"></a>
        <a href="https://www.instagram.com/raul.south/" target="_blank"><img class="logo-red" src="../../../assets/img/instagram_icon.png" alt="instagram de Raúl"></a>
        <!--Botón que abre el login (Modal)-->
        <button type="button" class="btn btn-outline-secondary btn btn-secondary" data-bs-toggle="modal" data-bs-target="#LoginModal">Log in</button>
        </div>
      
      
    </div>
  </nav>
  
  <!-- Modal -->
  <div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Inicio de sesión</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Formulario-->
          <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        </div>
      </div>
    </div>
  </div>
  
  <!--Sección de Banner-->
    <div id="fondo-banner">

    </div>