<!--<p>header works!</p>-->



<header id="mainheader">
    <nav id="navbar">
        <div>
            <!--<h1>hola</h1>
            -->
            <a href="https://argentinaprograma.inti.gob.ar" class="logo"><img src="../assets/img/Argentina_programa_logo.png" alt="Argentina programa">
            </a>
            
            <ul>
                <li><a href="" ><img class="logo-red" src="../assets/img/facebook_icon.png" alt="facebook"></a> </li>
                <li><a href="https://www.instagram.com/raul.south/" ><img src="../assets/img/instagram_icon.png" alt="instagram"></a> </li>
                <li><a href="https://www.instagram.com/raul.south"><button type="button" class="btn btn-outline-secondary">ingresá</button></a> </li>
            </ul>
        
            
        </div>
    </nav>


</header>
