<!--<p>experiencia works!</p>-->
<div class="row" id="experiencia">
  
    
    <h2>Experiencia</h2>
           

    <div class="col-lg-11 col-md-11">    
        <ul>
            <li>
              <div class="expereiencia-conteiner">
                <div class="experiencia-logo">
                    <a href="https://www.argentina.gob.ar/senasa"><img class="ex-logo" src="../../../assets/img/logo_senasa_png-01.png" alt="SENASA"></a>
                        

                </div>
                <div class="experiencia-info">
                  <div>
                    <h4 class="experiencia">SENASA</h4><h5>(año)</h5>
                    <p>Prácticas en reconocimiento de enfermedades de plantaciones de citrus. Manejo de GPS.</p>
                  </div>
                </div>
              </div>
                
            </li>
            <li>
              <div class="expereiencia-conteiner">
                
                <div class="experiencia-logo">
                    <a href="https://www.fcal.uner.edu.ar"><img class="ex-logo" src="../../../assets/img/logo-uner.png" alt="UNER"></a>
                            
                </div>
            
                <div class="experiencia-info">
                  <div>
                    <h4 class="experiencia">UNER</h4><h5>(año)</h5>
                    <p>Laboratorio de Análisis de Alimentos, Facultad de Ciencias de la Alimentación, UNER </p>
                  </div>
                </div>
                    
               </div>
            <li>
              <div class="expereiencia-conteiner">
                
                <div class="experiencia-logo">
                    <a href="https://www.agroberries.cl/"><img class="ex-logo" src="../../../assets/img/Agroberries_SA.png" alt="AGROBERRIES SA"></a>
                            
                </div>
                <div class="experiencia-info">
                  <div>
                    <h4 class="experiencia">AGROBERRIES SA</h4><h5>(año)</h5>
                    <p>Control de calidad</p>
                  </div>
                </div>
              </div>
                   
            </li>
           

        </ul>  
    </div>       
    
</div>



