.row {
    padding: 20px;
    
}

div {
    background-color:rgb(255, 205, 248);
    /*text-align: center;*/
    margin: 0%;
    
}
 ul {
    list-style: none;;
 }

 img {
    height: 25px;
    
    
 }

 #experiencia {
    padding-top: 20px;
 }

 