
<app-header></app-header>

<app-acercade></app-acercade>





    

   




<section id="experiencia">
    <div class="container">

        <table class="table table-borderless">
                    
            <tbody>
              <tr>
                
                <td><h2 id="titulo">acerca de mi</h2>   </td>
                <td><div class="btn-edit"><a href="https://www.google.com/" class="btn-right"><i class="fa fa-pen"></i></a></div></td>
              </tr>
              
            </tbody>
          </table>


        <h2>Experiencia</h2>
            <div class="experiencia_row">
                <div class="experiencia-row-fotos">
                    <a href="https://www.argentina.gob.ar/senasa"><img class="ex-logo" src="../assets/img/logo_senasa_png-01.png" alt="SENASA"></a>
                    

                </div>
                <div class="experiencia-row-lista">
                    <h4 class="experiencia">SENASA</h4>
                            <p>Prácticas en reconocimiento de enfermedades de plantaciones de citrus. Manejo de GPS.</p>
                </div>
            </div>

            <div class="experiencia_row">
                <div class="experiencia-row-fotos">
                        <a href="https://www.fcal.uner.edu.ar"><img class="ex-logo" src="../assets/img/logo-uner.png" alt="UNER"></a>
                        
                </div>

                <div class="experiencia-row-lista">
                        <h4 class="experiencia">UNER</h4>
                        <p>Laboratorio de Análisis de Alimentos, Facultad de Ciencias de la Alimentación, UNER </p>
                </div>
                
            </div>

            <div class="experiencia_row">
                <div class="experiencia-row-fotos">
                        <a href="https://www.agroberries.cl/"><img class="ex-logo" src="../assets/img/Agroberries_SA.png" alt="AGROBERRIES SA"></a>
                        
                </div>
                <div class="experiencia-row-lista">
                        <h4 class="experiencia">AGROBERRIES SA</h4>
                            <p>Control de calidad</p>
            </div>
        </div>       
            
               
    </div>
</section>




<section id="educacion">
    <div class="container">
        <h2>Educación</h2>
    </div>
</section>   


<section id="contacto">
    <div class="container">
        <h2>Contacto</h2>
        <div class="contacto-row-icon"> </div>
            <img src="http://placehold.it/" alt="webmail">
                <p>raulsouth@gmail.com</p>

    </div>

</section>



<footer id="mainfooter">



</footer>