
#fondo-banner {

    background-image: url('../../../assets/img/Fondo-perfil.png');
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    

}
