.row {
    background-color: rgb(217, 123, 241);
    padding: 20px;
    margin: 0%;
}

.cicle {
    text-align: center;
}

#equipo {
    background-image: url('../../../assets/img/equipo.png');
    background-repeat: no-repeat;
    background-position: 50% 73%;
    background-size: 50px;
       
}
#html {
    background-image: url('../../../assets/img/html_icon.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 50px;
}

#css {
    background-image: url('../../../assets/img/css_icon.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 50px;
}

#js {
    background-image: url('../../../assets/img/js-icon.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 50px;
}

#compromiso {
    background-image: url('../../../assets/img/hand_icon.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 50px;
}

#res-problem {
    background-image: url('../../../assets/img/solution_icon.png');
    background-repeat: no-repeat;
    background-position: 50% 75%;
    background-size: 50px;
}

